/*Responsive Css*/
/***** MEDIA QUERIES *****/

@media (min-width: 992px) and (max-width: 1199px) {
  
  .testimonial-list .testimonial-image { width: 20%; }
  .testimonial-list .testimonial-text { width: 80%; }
  
}

@media (min-width: 768px) and (max-width: 991px) {

  .section-description p { padding: 0; }
  
  .testimonial-list .testimonial-image { width: 25%; }
  .testimonial-list .testimonial-text { width: 75%; }
  
  .footer-social a { margin-right: 15px; }
  .footer-social i { font-size: 22px; }

}

@media (max-width: 767px) {
  .top-bar-area nav.navbar.bootsnav ul.nav > li > a {
    color: #fff;
    padding: 7px 0px;
    font-weight: 600;
}
.singin-up-form .form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}
  .section-description p { padding: 0; }
  
  .testimonial-list .testimonial-image { float: none; width: auto; text-align: center; }
  .testimonial-list .testimonial-text { float: none; width: auto; margin-top: 30px; text-align: center; padding: 60px 60px;
    position: relative;}
  .testimonial-list .nav-tabs { margin-top: 20px; text-align: center; }
    
    footer { text-align: center; }
    .footer-social { padding-top: 30px; text-align: center; }
    .footer-social a { margin: 0 10px; }
.testimonial-list .testimonial-text p:before {
    left: 5px;
}
.testimonial-list .testimonial-text p:after {
    right: 5px;
}
  .logo-black {
    float: none;
    margin-right: 35px;
    text-align: center;
    margin-bottom: 25px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.search-area .singin-up-area {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.ads-area .last-ads {
    padding-right: 15px;
}
.ads-area img {
    width: 100%;
    margin-bottom: 30px;
}
.subscribe-area .col-md-2{
	padding: 0;
}
.footer-area .col-md-3{
	margin-bottom: 30px;
}
.footer-area .left-icon {
    width: auto;
    float: none;
}
.footer-area .right-text {
    float: none;
}
.copyright-area{
	text-align: center;
}
.social-icons{
	margin-bottom: 30px;
}
.copyright-area .pull-left{
	float: none !important;
}
.copyright-area .pull-right{
	float: none !important;
}
}

@media (max-width: 550px) {


}
